<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TigerSLAM</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ .STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ .STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="{{ .STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">TigerSLAM</a>
					
					<div class="nav-collapse collapse">
						<p class="pull-right navbar-text visible-desktop"></p>
						<ul class="nav">
					    	<li {{if equal .PAGE_NAME "main.html"}} class="active"{{end}}><a href="/">Dashboard</a></li>
					    	<li {{if equal .PAGE_NAME "manual-control.html"}} class="active"{{end}}><a href="/manual-control/">Manual Control</a></li>
					    	<li {{if equal .PAGE_NAME "sensors.html"}} class="active"{{end}}><a href="/sensors/">Sensors</a></li>
					    	<li {{if equal .PAGE_NAME "slam.html"}} class="active"{{end}}{{if equal .PAGE_NAME "slam-off.html"}} class="active"{{end}}><a href="/slam/">SLAM</a></li>
					    	<li {{if equal .PAGE_NAME "settings.html"}} class="active"{{end}}><a href="/settings/">Settings</a></li>
					    </ul>
					</div>

				</div>
			</div>
		</div>
		
		<div class="container-fluid">
		  <div class="content">
 
		    <div class="wrapper">
		      <div class="proper-content">
		      	{{ template "content" .}}
		      </div><!-- /.proper-content -->
 
		    </div><!-- /.wrapper -->
 
		    <div class="footer-wrapper">
				{{template "footer" .}}
		    </div>
		  </div>
		</div>
		
		<script src="{{.STATIC_URL}}js/jquery.min.js"></script>
		<script src="{{.STATIC_URL}}js/bootstrap.min.js"></script>
		
		{{template "javascript" .}}
		
	</body>
</html>