{{define "content"}}
<div id="manual-control">
	<div id="joystick"></div>
	<div id="trackpad">
	
	</div>

	<button class="btn btn-primary" data-role="enable-manual-control">Enable</button>
	<button class="btn" data-role="disable-manual-control">Disable</button>
</div>
{{end}}

{{define "sidebar"}}
	
{{end}}

{{define "footer"}}
{{end}}

{{define "javascript"}}
	<script src="{{.STATIC_URL}}js/common.js"></script>
	<script src="{{.STATIC_URL}}js/raphael.js"></script>
	<script src="{{.STATIC_URL}}js/joystick.jquery.js"></script>
	<script src="{{.STATIC_URL}}js/jquery.manualcontrol.js"></script>
	<script type="text/javascript">
		var manualcontrol;

		$(document).ready(function() {
			manualcontrol = new $.manualcontrol($("#manual-control"), {});
		});
	</script>
{{end}}