{{define "content"}}
	<h2>Settings</h2>

	{{ range $sectionName, $section := .DATA }}
		<h3>{{$sectionName}}</h3>

		<table class="table">
		{{ range $option, $value := $section }}

			<tr>
				<td>{{ $option }}</td>
				<td class="muted">{{ $value }}</td>
			</tr>

		{{ end }}
		</table>

	{{ end }}

{{end}}

{{define "sidebar"}}
	
{{end}}

{{define "footer"}}
	
{{end}}

{{define "javascript"}}

{{end}}